
.idea/DL-CS6910-Assignment.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
*.jpg
assignment_2/nature_12K.zip
*.tsv
*.gz
*.txt
*.yaml
*.json
*.log
*.wandb
assignment_3/data_assignment3.tar
assignment_3/DakshinaDataset/dakshina_dataset_v1.0/README.md
